@page "/book/{id:int}"
@using BlazorFullStack.Contract
@inject IBookService BookService
@inject IRentalService RentalService

<PageTitle>BookDetails</PageTitle>

@if (Book == null)
{
    <p><em>Loading...</em></p>
}
else
{  
    <h3>@Book.Title's details</h3>
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Inventory number</th>
                <th>Year of publishing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Book.Title</td>
                <td>@Book.Author</td>
                <td>@Book.Publisher</td>
                <td>@Book.InventoryNumber</td>
                <td>@Book.PublishYear</td>
            </tr>
        </tbody>
    </table>

    <h4>Rental Details</h4>
    @if (Rental == null)
    {
        <h4 style="color:green">You can borrow this book!</h4>
    }
    else
    { 
        <table class="table table-hover table-border">
            <thead>
                <tr>
                    <th>ReadingNumber</th>
                    <th>RentalTime</th>
                    <th>ReturnDeadline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Rental.ReadingNumber</td>
                    <td>@Rental.RentalTime.ToShortDateString()</td>
                    <td>@Rental.ReturnDeadline.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>
    }
    
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Book? Book { get; set; }
    private Rental? Rental { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Book = await BookService.GetBookByIdAsync(Id);
        Rental = await RentalService.GetRentalByIdAsync(Book.InventoryNumber);
    }
}