@page "/book/{title:str}"
@inject HttpClient Http

<PageTitle>BookDetails</PageTitle>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Inventory number</th>
                <th>Year of publishing</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.InventoryNumber</td>
                    <td>@book.PublishYear</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BookList[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<BookList[]>("sample-data/book.json");
    }

    public class BookList
    {
        public string? Title { get; set; }

        public string? Author { get; set; }

        public string? Publisher { get; set; }

        public int InventoryNumber { get; set; }

        public int PublishYear { get; set; }
    }
}
