@page "/booklist"
@using BlazorFullStack.Contract
@inject IBookService BookService

<PageTitle>Booklist</PageTitle>

<h1>List of Books</h1>


@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Inventory number</th>
                <th>Year of publishing</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.InventoryNumber</td>
                    <td>@book.PublishYear</td>
                    <td><a href="book/@book.Id" class="btn btn-primary">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="addbook" class="btn btn-primary">Add Book</a>
}

@code {
    private IEnumerable<Book>? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books = await BookService.GetAllBooksAsync();
    }
}
